<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DistributionInfoMapper">
    <select id="getDistributionInfoList" resultMap="distributioninfoMap.distributioninfoResultMap" resultType="list">
        <![CDATA[
SELECT x.builderid,
       x.buildername,
       x.buildershortname,
       x.timeworktotalmoney,
       x.packageworktotalmoney,
       x.debttotalmoney,
       x.foodtotalmoney
FROM
  (SELECT ROW_NUMBER() OVER() AS R,
                       tmp.builderid,
                       tmp.buildername,
                       tmp.buildershortname,
                       tmp.builderupdatetime,
                       double(tmp.totalworkcount)*double(tmp.totalsalarymoney) AS timeworktotalmoney,
                                                  tmp.totalpackageworkmoney AS packageworktotalmoney,
                                                  tmp.totaldebtmoney AS debttotalmoney,
                                                  tmp.totalfoodmoney AS foodtotalmoney
   FROM
     (SELECT tmp_d.builderid,
             tmp_d.buildername,
             tmp_d.buildershortname,
             tmp_d.builderupdatetime,
             tmp_d.totalworkcount,
             tmp_d.totalsalarymoney,
             tmp_d.totalpackageworkmoney,
             tmp_d.totaldebtmoney,
             sum(double(f.foodmoney)) AS totalfoodmoney
      FROM
        (SELECT tmp_p.builderid,
                tmp_p.buildername,
                tmp_p.buildershortname,
                tmp_p.builderupdatetime,
                tmp_p.totalworkcount,
                tmp_p.totalsalarymoney,
                tmp_p.totalpackageworkmoney,
                sum(double(d.debtmoney)) AS totaldebtmoney
         FROM
           (SELECT tmp_s.builderid,
                   tmp_s.buildername,
                   tmp_s.buildershortname,
                   tmp_s.builderupdatetime,
                   tmp_s.totalworkcount,
                   tmp_s.totalsalarymoney,
                   sum(double(p.PACKAGEWORKMONEY)) AS totalpackageworkmoney
            FROM
              (SELECT tmp_w.builderid,
                      tmp_w.buildername,
                      tmp_w.buildershortname,
                      tmp_w.builderupdatetime,
                      tmp_w.totalworkcount,
                      sum(double(s.salarymoney)) AS totalsalarymoney
               FROM
                 (SELECT b.id AS builderid,
                         b.name AS buildername,
                         b.shortname AS buildershortname,
                         b.updatetime AS builderupdatetime,
                         sum(double(w.workcount)) AS totalworkcount
                  FROM builder b
                  LEFT JOIN workday w ON b.id = w.builderid
                  WHERE w.projectid = #{projectid}
                    OR w.workdate IS NULL
                  GROUP BY b.id,
                           b.name,
                           b.shortname,
                           b.updatetime) AS tmp_w
               LEFT JOIN salary s ON tmp_w.builderid = s.builderid
               GROUP BY tmp_w.builderid,
                        tmp_w.buildername,
                        tmp_w.buildershortname,
                        tmp_w.totalworkcount,
                        tmp_w.builderupdatetime) AS tmp_s
            LEFT JOIN packagework p ON tmp_s.builderid= p.builderid
            WHERE p.projectid = #{projectid}
              OR (p.packageworkendyear IS NULL
                  AND p.packageworkendmonth IS NULL)
            GROUP BY tmp_s.builderid,
                     tmp_s.buildername,
                     tmp_s.buildershortname,
                     tmp_s.builderupdatetime,
                     tmp_s.totalworkcount,
                     tmp_s.totalsalarymoney) AS tmp_p
         LEFT JOIN debt d ON d.builderid = tmp_p.builderid
            WHERE d.projectid = #{projectid} or d.debtdate is null 
            GROUP BY tmp_p.builderid,
                     tmp_p.buildername,
                     tmp_p.buildershortname,
                     tmp_p.builderupdatetime,
                     tmp_p.totalworkcount,
                     tmp_p.totalsalarymoney,
                  	 tmp_p.totalpackageworkmoney) AS tmp_d
      LEFT JOIN food f ON tmp_d.builderid = f.builderid
      WHERE f.projectid = #{projectid}
        OR (f.foodyear IS NULL
            AND f.foodmonth IS NULL)
      GROUP BY tmp_d.builderid,
               tmp_d.buildername,
               tmp_d.buildershortname,
               tmp_d.builderupdatetime,
               tmp_d.totalworkcount,
               tmp_d.totalsalarymoney,
               tmp_d.totalpackageworkmoney,
               tmp_d.totaldebtmoney) AS tmp
   WHERE (tmp.totalworkcount IS NOT NULL
          OR tmp.totalpackageworkmoney IS NOT NULL
          OR tmp.totaldebtmoney IS NOT NULL
          OR tmp.totalfoodmoney IS NOT NULL)
     AND (tmp.buildername LIKE #{filterValue}
          OR tmp.buildershortname LIKE #{filterValue})
   ORDER BY ${orderValue}) AS x
WHERE R > #{startIndex}
  AND R <= #{endIndex}
        ]]>
    </select>
    
    <select id="getTotalCount" resultType="int">
        <![CDATA[
        
SELECT count(m.builderid)
FROM
  (SELECT x.builderid,
          x.buildername,
          x.buildershortname,
          x.timeworktotalmoney,
          x.packageworktotalmoney,
          x.debttotalmoney,
          x.foodtotalmoney
   FROM
     (SELECT ROW_NUMBER() OVER() AS R,
                          tmp.builderid,
                          tmp.buildername,
                          tmp.buildershortname,
                          tmp.builderupdatetime,
                          double(tmp.totalworkcount)*double(tmp.totalsalarymoney) AS timeworktotalmoney,
                                                     tmp.totalpackageworkmoney AS packageworktotalmoney,
                                                     tmp.totaldebtmoney AS debttotalmoney,
                                                     tmp.totalfoodmoney AS foodtotalmoney
      FROM
        (SELECT tmp_d.builderid,
                tmp_d.buildername,
                tmp_d.buildershortname,
                tmp_d.builderupdatetime,
                tmp_d.totalworkcount,
                tmp_d.totalsalarymoney,
                tmp_d.totalpackageworkmoney,
                tmp_d.totaldebtmoney,
                sum(double(f.foodmoney)) AS totalfoodmoney
         FROM
           (SELECT tmp_p.builderid,
                   tmp_p.buildername,
                   tmp_p.buildershortname,
                   tmp_p.builderupdatetime,
                   tmp_p.totalworkcount,
                   tmp_p.totalsalarymoney,
                   tmp_p.totalpackageworkmoney,
                   sum(double(d.debtmoney)) AS totaldebtmoney
            FROM
              (SELECT tmp_s.builderid,
                      tmp_s.buildername,
                      tmp_s.buildershortname,
                      tmp_s.builderupdatetime,
                      tmp_s.totalworkcount,
                      tmp_s.totalsalarymoney,
                      sum(double(p.PACKAGEWORKMONEY)) AS totalpackageworkmoney
               FROM
                 (SELECT tmp_w.builderid,
                         tmp_w.buildername,
                         tmp_w.buildershortname,
                         tmp_w.builderupdatetime,
                         tmp_w.totalworkcount,
                         sum(double(s.salarymoney)) AS totalsalarymoney
                  FROM
                    (SELECT b.id AS builderid,
                            b.name AS buildername,
                            b.shortname AS buildershortname,
                            b.updatetime AS builderupdatetime,
                            sum(double(w.workcount)) AS totalworkcount
                     FROM builder b
                     LEFT JOIN workday w ON b.id = w.builderid
                     WHERE w.projectid = #{projectid} or w.workdate is null
                     GROUP BY b.id,
                              b.name,
                              b.shortname,
                              b.updatetime) AS tmp_w
                  LEFT JOIN salary s ON tmp_w.builderid = s.builderid
                  GROUP BY tmp_w.builderid,
                           tmp_w.buildername,
                           tmp_w.buildershortname,
                           tmp_w.totalworkcount,
                           tmp_w.builderupdatetime) AS tmp_s
               LEFT JOIN packagework p ON tmp_s.builderid= p.builderid
               WHERE p.projectid = #{projectid} or (p.packageworkendyear is null and p.packageworkendmonth is null)
               GROUP BY tmp_s.builderid,
                        tmp_s.buildername,
                        tmp_s.buildershortname,
                        tmp_s.builderupdatetime,
                        tmp_s.totalworkcount,
                        tmp_s.totalsalarymoney) AS tmp_p
            LEFT JOIN debt d ON d.builderid = tmp_p.builderid
            WHERE d.projectid = #{projectid} or d.debtdate is null 
            GROUP BY tmp_p.builderid,
                     tmp_p.buildername,
                     tmp_p.buildershortname,
                     tmp_p.builderupdatetime,
                     tmp_p.totalworkcount,
                     tmp_p.totalsalarymoney,
                     tmp_p.totalpackageworkmoney) AS tmp_d
         LEFT JOIN food f ON tmp_d.builderid = f.builderid
         WHERE f.projectid = #{projectid} or (f.foodyear is null and f.foodmonth is null)
         GROUP BY tmp_d.builderid,
                  tmp_d.buildername,
                  tmp_d.buildershortname,
                  tmp_d.builderupdatetime,
                  tmp_d.totalworkcount,
                  tmp_d.totalsalarymoney,
                  tmp_d.totalpackageworkmoney,
                  tmp_d.totaldebtmoney) AS tmp
      WHERE (tmp.totalworkcount IS NOT NULL
             OR tmp.totalpackageworkmoney IS NOT NULL
             OR tmp.totaldebtmoney IS NOT NULL
             OR tmp.totalfoodmoney IS NOT NULL)
        AND (tmp.buildername LIKE #{filterValue}
             OR tmp.buildershortname LIKE #{filterValue})) AS x) AS m
        ]]>
    </select>
    
    <select id="getAllMoney" resultType="int">
        <![CDATA[
SELECT sum(x.timeworktotalmoney)+
       sum(x.packageworktotalmoney)-
       sum(x.debttotalmoney)-
       sum(x.foodtotalmoney)
FROM
  (SELECT ROW_NUMBER() OVER() AS R,
                       tmp.builderid,
                       tmp.buildername,
                       tmp.buildershortname,
                       tmp.builderupdatetime,
                       double(tmp.totalworkcount)*double(tmp.totalsalarymoney) AS timeworktotalmoney,
                                                  tmp.totalpackageworkmoney AS packageworktotalmoney,
                                                  tmp.totaldebtmoney AS debttotalmoney,
                                                  tmp.totalfoodmoney AS foodtotalmoney
   FROM
     (SELECT tmp_d.builderid,
             tmp_d.buildername,
             tmp_d.buildershortname,
             tmp_d.builderupdatetime,
             tmp_d.totalworkcount,
             tmp_d.totalsalarymoney,
             tmp_d.totalpackageworkmoney,
             tmp_d.totaldebtmoney,
             sum(double(f.foodmoney)) AS totalfoodmoney
      FROM
        (SELECT tmp_p.builderid,
                tmp_p.buildername,
                tmp_p.buildershortname,
                tmp_p.builderupdatetime,
                tmp_p.totalworkcount,
                tmp_p.totalsalarymoney,
                tmp_p.totalpackageworkmoney,
                sum(double(d.debtmoney)) AS totaldebtmoney
         FROM
           (SELECT tmp_s.builderid,
                   tmp_s.buildername,
                   tmp_s.buildershortname,
                   tmp_s.builderupdatetime,
                   tmp_s.totalworkcount,
                   tmp_s.totalsalarymoney,
                   sum(double(p.PACKAGEWORKMONEY)) AS totalpackageworkmoney
            FROM
              (SELECT tmp_w.builderid,
                      tmp_w.buildername,
                      tmp_w.buildershortname,
                      tmp_w.builderupdatetime,
                      tmp_w.totalworkcount,
                      sum(double(s.salarymoney)) AS totalsalarymoney
               FROM
                 (SELECT b.id AS builderid,
                         b.name AS buildername,
                         b.shortname AS buildershortname,
                         b.updatetime AS builderupdatetime,
                         sum(double(w.workcount)) AS totalworkcount
                  FROM builder b
                  LEFT JOIN workday w ON b.id = w.builderid
                  WHERE w.projectid = #{projectid}
                    OR w.workdate IS NULL
                  GROUP BY b.id,
                           b.name,
                           b.shortname,
                           b.updatetime) AS tmp_w
               LEFT JOIN salary s ON tmp_w.builderid = s.builderid
               GROUP BY tmp_w.builderid,
                        tmp_w.buildername,
                        tmp_w.buildershortname,
                        tmp_w.totalworkcount,
                        tmp_w.builderupdatetime) AS tmp_s
            LEFT JOIN packagework p ON tmp_s.builderid= p.builderid
            WHERE p.projectid = #{projectid}
              OR (p.packageworkendyear IS NULL
                  AND p.packageworkendmonth IS NULL)
            GROUP BY tmp_s.builderid,
                     tmp_s.buildername,
                     tmp_s.buildershortname,
                     tmp_s.builderupdatetime,
                     tmp_s.totalworkcount,
                     tmp_s.totalsalarymoney) AS tmp_p
         LEFT JOIN debt d ON d.builderid = tmp_p.builderid
            WHERE d.projectid = #{projectid} or d.debtdate is null 
            GROUP BY tmp_p.builderid,
                     tmp_p.buildername,
                     tmp_p.buildershortname,
                     tmp_p.builderupdatetime,
                     tmp_p.totalworkcount,
                     tmp_p.totalsalarymoney,
                  	 tmp_p.totalpackageworkmoney) AS tmp_d
      LEFT JOIN food f ON tmp_d.builderid = f.builderid
      WHERE f.projectid = #{projectid}
        OR (f.foodyear IS NULL
            AND f.foodmonth IS NULL)
      GROUP BY tmp_d.builderid,
               tmp_d.buildername,
               tmp_d.buildershortname,
               tmp_d.builderupdatetime,
               tmp_d.totalworkcount,
               tmp_d.totalsalarymoney,
               tmp_d.totalpackageworkmoney,
               tmp_d.totaldebtmoney) AS tmp
   WHERE (tmp.totalworkcount IS NOT NULL
          OR tmp.totalpackageworkmoney IS NOT NULL
          OR tmp.totaldebtmoney IS NOT NULL
          OR tmp.totalfoodmoney IS NOT NULL)
) AS x
        ]]>
    </select>
</mapper>